# Ch06. 데이터 로딩과 저장, 파일형식

## 6.1 텍스트 파일에서 데이터를 읽고 쓰는 법  
여러 형식에서 DataFrame으로 불러올수 있음

In [1]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

enter= lambda : print('-----------------------------------------------------------')

In [2]:
!type Datas\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('Datas/ex1.csv')
df = pd.read_csv('Datas/ex1.csv',sep=',') #구분자를 따로 지정할수 있음
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
!type Datas\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

**ex2 처럼 컬럼 이름이 없는 데이터도 있음,  
pandas옵션을 줘서 자동으로 생성하거나 직접 지정해야함**

In [5]:
pd.read_csv('Datas/ex2.csv',sep=',')
pd.read_csv('Datas/ex2.csv',sep=',',header=None)

#컬럼 이름 직접 지정
pd.read_csv('Datas/ex2.csv',sep=',',names = ['a','b','c','d','message'])

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

**message 컬럼을 색인으로 만들어 읽고 싶다면 index_col인자에서 지정할수 있음**

In [6]:
name = ['a','b','c','d','message']
pd.read_csv('Datas/ex2.csv',names = name,index_col=4)
pd.read_csv('Datas/ex2.csv',names = name,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

**색인을 계층적으로 지정하고 싶다면 컬럼번호나 이름의 리스트를 넘기면됨**

In [7]:
!type Datas\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [8]:
pd.read_csv('Datas/csv_mindex.csv')
pd.read_csv('Datas/csv_mindex.csv',index_col = ['key1','key2'])

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [9]:
!type Datas\ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

**위의 경우 특별한 구분자없이 공백을 이용해서 구분해 놓았음  
필드가 여러개의 공백으로 나뉘어 있으므로 이를 표현하는 정규표현식 \s+를 사용하면 됨**

In [10]:
list(open('Datas/ex3.txt','r'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [11]:
pd.read_csv('Datas/ex3.txt')
pd.read_csv('Datas/ex3.txt',sep='\s+')

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

**↑ 다른 행에 비해 첫번째가 하나 작으므로 자동으로 첫번째열이 인덱스구나 하고 추론함**

**skiprows 옵션을 주면 행을 skip하고 읽을 수 있음**

In [12]:
!type Datas\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [13]:
pd.read_csv('Datas\ex4.csv')
pd.read_csv('Datas\ex4.csv',skiprows=[0,2,3])

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

**pandas는 NA나 NULL등 흔히 통용되는 문자를 비어있는 값으로 사용함**

In [14]:
!type Datas\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [15]:
result = pd.read_csv('Datas\ex5.csv')
result
result.isnull()

enter()
#na_values 옵션으로 누락된값을 지정할수 있음
pd.read_csv('Datas\ex5.csv',na_values=['NULL'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

-----------------------------------------------------------

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [16]:
#컬럼마다 다른 NA 문자를 사전값으로 넘겨서 처리할수도있음
sentinels = {
    'message':['foo','NA'],
    'something':['two']
}
pd.read_csv('Datas/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [17]:
#인자 테스트
pd.read_csv('Datas/ex3.txt',sep='\s+')

#converters : 컬럼에 함수를 적용함
pd.read_csv('Datas/ex3.txt',sep='\s+',
           converters={"A":lambda x: np.abs(np.float64(x)),
                      "B":lambda x: 1 if np.float64(x)>0 else 0,
                      'C':lambda x: np.where(np.float64(x)>0,1,0)})

#nrows : 데이터 일부만 읽을때 읽을 갯수
pd.read_csv('Datas/ex3.txt',sep='\s+',nrows=2)

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A  B  C
aaa  0.264438  0  0
bbb  0.927272  1  0
ccc  0.264273  0  0
ddd  0.871858  0  1

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399

### 6.1.1 텍스트 파일 조금씩 읽어오기  
매우 큰 파일을 처리할때 인자를 제대로 주었는지 알아보는경우

In [18]:
#pandas 출력 설정 변경 최대 n개만 dp 되도록
pd.options.display.max_rows = 10
pd.read_csv('Datas\ex6.csv')

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [19]:
#파일 전체를 안읽고 처음 몇줄만 읽을때는 nrows 옵션으로 조절
pd.read_csv('Datas\ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

**파일을 여러조각으로 나누어서 읽고 싶다면 chunksize ( row 갯수 지정 )**

In [20]:
chunker = pd.read_csv('Datas\ex6.csv',chunksize=1000)
chunker

In [21]:
#제너레이터 형식으로 잘려서 나옴
for piece in chunker:
    print(piece)

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]
           one       two     three      four key
1000  0.467976 -0.038649 -0.295344 -1.824726   T
1001 -0.358893  1.404453  0.704965 -0.200638   J
1002 -0.501840  0.659254 -0.421691 -0.057688   R
1003  0.204886  1.074134  1.388361 -0.982404   S
1004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
1995  2.311896 -0.417070 -1.409599 -0.515821   L
1996 -0.479893 -0.650419  0.745152 -0.646038   J
1997  0.523331  0.787112  0.486066  1.093156   V
1998 -0.362559  0.598894 -1.843201  0.887292   W
1999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]
           one       two     three      four key
2000  0.467976 -0.038649 -0.295344 -1.824726   1
2001 -0.358893  1.404453  0.704965 -0.200638   H
2002 -0.501840  0.659254 -0.421691 -0.057688   F
2003  0.204886  1.074134  1.388361 -0.982404   L
2004  0.354628 -0.133116  0.283763 -0.837063   E
...        ...       ...       ...       ...  ..
2995  2.311896 -0.417070 -1.409599 -0.515821   H
2996 -0.479893 -0.650419  0.745152 -0.646038   U
2997  0.523331  0.787112  0.486066  1.093156   A
2998 -0.362559  0.598894 -1.843201  0.887292   Y
2999 -0.096376 -1.012999 -0.657431 -0.573315   F

[1000 rows x 5 columns]
           one       two     three      four key
3000  0.467976 -0.038649 -0.295344 -1.824726   H
3001 -0.358893  1.404453  0.704965 -0.200638   Y
3002 -0.501840  0.659254 -0.421691 -0.057688   0
3003  0.204886  1.074134  1.388361 -0.982404   Z
3004  0.354628 -0.133116  0.283763 -0.837063   U
...        ...       ...       ...       ...  ..
3995  2.311896 -0.417070 -1.409599 -0.515821   W
3996 -0.479893 -0.650419  0.745152 -0.646038   E
3997  0.523331  0.787112  0.486066  1.093156   Q
3998 -0.362559  0.598894 -1.843201  0.887292   A
3999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
4000  0.467976 -0.038649 -0.295344 -1.824726   H
4001 -0.358893  1.404453  0.704965 -0.200638   Z
4002 -0.501840  0.659254 -0.421691 -0.057688   2
4003  0.204886  1.074134  1.388361 -0.982404   B
4004  0.354628 -0.133116  0.283763 -0.837063   1
...        ...       ...       ...       ...  ..
4995  2.311896 -0.417070 -1.409599 -0.515821   X
4996 -0.479893 -0.650419  0.745152 -0.646038   M
4997  0.523331  0.787112  0.486066  1.093156   5
4998 -0.362559  0.598894 -1.843201  0.887292   T
4999 -0.096376 -1.012999 -0.657431 -0.573315   U

[1000 rows x 5 columns]
           one       two     three      four key
5000  0.467976 -0.038649 -0.295344 -1.824726   1
5001 -0.358893  1.404453  0.704965 -0.200638   Z
5002 -0.501840  0.659254 -0.421691 -0.057688   3
5003  0.204886  1.074134  1.388361 -0.982404   H
5004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
5995  2.311896 -0.417070 -1.409599 -0.515821   1
5996 -0.479893 -0.650419  0.745152 -0.646038   Y
5997  0.523331  0.787112  0.486066  1.093156   F
5998 -0.362559  0.598894 -1.843201  0.887292   0
5999 -0.096376 -1.012999 -0.657431 -0.573315   3

[1000 rows x 5 columns]
           one       two     three      four key
6000  0.467976 -0.038649 -0.295344 -1.824726   I
6001 -0.358893  1.404453  0.704965 -0.200638   X
6002 -0.501840  0.659254 -0.421691 -0.057688   A
6003  0.204886  1.074134  1.388361 -0.982404   C
6004  0.354628 -0.133116  0.283763 -0.837063   S
...        ...       ...       ...       ...  ..
6995  2.311896 -0.417070 -1.409599 -0.515821   P
6996 -0.479893 -0.650419  0.745152 -0.646038   9
6997  0.523331  0.787112  0.486066  1.093156   L
6998 -0.362559  0.598894 -1.843201  0.887292   5
6999 -0.096376 -1.012999 -0.657431 -0.573315   O

[1000 rows x 5 columns]
           one       two     three      four key
7000  0.467976 -0.038649 -0.295344 -1.824726   1
7001 -0.358893  1.404453  0.704965 -0.200638   I
7002 -0.501840  0.659254 -0.421691 -0.057688   H
7003  0.204886  1.074134  1.388361 -0.982404   P
7004  0.354628 -0.133116  0.283763 -0.837063   D
...        ...       ...       ...       ...  ..
7995  2.311896 -0.417070 -1.409599 -0.515821   A
7996 -0.479893 -0.650419  0.745152 -0.646038   6
7997  0.523331  0.787112  0.486066  1.093156   R
7998 -0.362559  0.598894 -1.843201  0.887292   R
7999 -0.096376 -1.012999 -0.657431 -0.573315   2

[1000 rows x 5 columns]
           one       two     three      four key
8000  0.467976 -0.038649 -0.295344 -1.824726   7
8001 -0.358893  1.404453  0.704965 -0.200638   W
8002 -0.501840  0.659254 -0.421691 -0.057688   C
8003  0.204886  1.074134  1.388361 -0.982404   S
8004  0.354628 -0.133116  0.283763 -0.837063   H
...        ...       ...       ...       ...  ..
8995  2.311896 -0.417070 -1.409599 -0.515821   W
8996 -0.479893 -0.650419  0.745152 -0.646038   N
8997  0.523331  0.787112  0.486066  1.093156   Q
8998 -0.362559  0.598894 -1.843201  0.887292   R
8999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
9000  0.467976 -0.038649 -0.295344 -1.824726   B
9001 -0.358893  1.404453  0.704965 -0.200638   M
9002 -0.501840  0.659254 -0.421691 -0.057688   N
9003  0.204886  1.074134  1.388361 -0.982404   N
9004  0.354628 -0.133116  0.283763 -0.837063   Y
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[1000 rows x 5 columns]

In [22]:
#조각들을 순회하면서 key로우에있는 값을 얻기
chunker = pd.read_csv('Datas\ex6.csv',chunksize=1000)
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value = 0)
tot = tot.sort_values(ascending=False)
tot

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
     ...
5    157.0
2    152.0
0    151.0
9    150.0
1    146.0
Length: 36, dtype: float64

### 6.1.2 데이터를 텍스트 형식으로 기록하기

In [23]:
data = pd.read_csv('Datas\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [24]:
#csv로 내보내기
data.to_csv('Datas/out.csv')
!type Datas\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [25]:
#,가 아닌 다른 구분자도 사용가능
#콘솔에서 확인가능하도록 stdout에 기록
import sys
data.to_csv(sys.stdout,sep='@')

@something@a@b@c@d@message
0@one@1@2@3.0@4@
1@two@5@6@@8@world
2@three@9@10@11.0@12@foo

**누락된 값은 빈 문자열로 들어가는데 값을 지정할수 있음**

In [26]:
data.to_csv(sys.stdout,sep=',',na_rep='NA')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NA
1,two,5,6,NA,8,world
2,three,9,10,11.0,12,foo

**저장될 결과에 로우,컬럼을 표시하지 않기**

In [27]:
data.to_csv(sys.stdout,na_rep='NA')
enter()
data.to_csv(sys.stdout,na_rep='NA',
           header=False)
enter()
data.to_csv(sys.stdout,na_rep='NA',
           index=False)
enter()
data.to_csv(sys.stdout,na_rep='NA',
           header=False,index=False)

,something,a,b,c,d,message
0,one,1,2,3.0,4,NA
1,two,5,6,NA,8,world
2,three,9,10,11.0,12,foo
-----------------------------------------------------------
0,one,1,2,3.0,4,NA
1,two,5,6,NA,8,world
2,three,9,10,11.0,12,foo
-----------------------------------------------------------
something,a,b,c,d,message
one,1,2,3.0,4,NA
two,5,6,NA,8,world
three,9,10,11.0,12,foo
-----------------------------------------------------------
one,1,2,3.0,4,NA
two,5,6,NA,8,world
three,9,10,11.0,12,foo

**저장할 컬럼을 일부만 선택할수도 있음**

In [28]:
data.to_csv(sys.stdout,na_rep='NA',
           columns = ['a','d'],index = False)
enter()

a,d
1,4
5,8
9,12
-----------------------------------------------------------

### 6.1.3 구분자 형식 다루기

In [29]:
!type Datas\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [30]:
#구분자가 한글자인 파일은 내장 csv모듈을 이용하면됨
import csv
f = open('Datas/ex7.csv','r')
reader = csv.reader(f)
for line in f:
    print(line)
enter()

"a","b","c"

"1","2","3"

"1","2","3"

-----------------------------------------------------------

In [31]:
f = open('Datas/ex7.csv','r')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [32]:
#원하는 형태로 데이터 얻기
with open('Datas\ex7.csv','r') as f:
    lines = list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [33]:
#헤더와 값 분리
header,values = lines[0], lines[1:]
header
values

['a', 'b', 'c']

[['1', '2', '3'], ['1', '2', '3']]

In [34]:
#zip으로 데이터 컬럼 사전을 만들기
data_dict = {h:v for h,v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

zip(*x) 사용하면 row,column이 바뀌는듯

**csv.Dialect를 상속받아 사용하면 다양한 형태의 csv를 처리하기 편함**

In [35]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ','
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
f = open('Datas/ex7.csv','r')
reader = csv.reader(f,dialect=my_dialect)
for line in reader:
    print(line)
f.close()

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [36]:
#혹은 csv.reader에 키워드를 직접 전달해도됨
f = open('Datas/ex7.csv','r')
reader = csv.reader(f,quotechar='"')
for line in reader:
    print(line)
f.close()

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

**CSV처럼 구분자로 된 파일을 기록하려면 csv.writer이용**

In [37]:
# with open(sys.stdout) as f:
#     writer = csv.writer(f,dialect=my_dialect)
#     writer.writerow(('one','two','three'))
writer = csv.writer(sys.stdout,dialect=my_dialect)
writer.writerow(('one','two','three'))
writer.writerow(('1','2','3'))
writer.writerow(('4','5','6'))
writer.writerow(('7','8','9'))

with open('Datas/hh.csv','w') as f:
    writer = csv.writer(f,dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))

one,two,three
1,2,3
4,5,6
7,8,9

14

6

6

6

In [38]:
!type Datas\hh.csv
!type Datas\ex7.csv

one,two,three
1,2,3
4,5,6
7,8,9
"a","b","c"
"1","2","3"
"1","2","3"

### 6.1.4 JSON 데이터  
HTTP에서 널리사용하는 형식, 파이썬과 유사함

In [39]:
#json예시
obj = """
{
"name":"Wes",
"placed_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},
            {"name":"Katie","age":38,
            "pets":["Sixes","Stache","Cisco"]}]
}"""

In [40]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'placed_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

**json.dumps 객체는 파이썬객체를 json으로 변환**

In [41]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "placed_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [42]:
siblings= pd.DataFrame(result['siblings'],columns=['age','name'])
siblings

   age   name
0   30  Scott
1   38  Katie

pandas.read_json은 자동으로 json을 Series나 DataFrame으로 변환

In [43]:
!type Datas\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [44]:
print("기본적으로 json의 각 객체를 테이블의 row로 간주함")
data = pd.read_json('Datas/example.json')
data

기본적으로 json의 각 객체를 테이블의 row로 간주함

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [45]:
a = "to_json함수를 이용하여 저장할수 있음"
print(a)
print(data.to_json())
print(data.to_json(orient='records'))

to_json함수를 이용하여 저장할수 있음
{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### 6.1.5 XML과 HTML : 웹 스크래핑