# Pandas : 데이터 분석 기능을 제공하는 라이브러리.  
- 예를 들면, CSV파일 등의 데이터를 읽고 원하는 데이터 형식으로 변환해줌

**Pandas 자료구조**  
- Series, DataFrame
- Series는 일차원 배열 같은 자료구조

In [ ]:
import pandas as pd

obj = pd.Series(['a','b','c','d'])
print(obj)
print(obj.index)
print(obj.values)

In [ ]:
obj2 = pd.Series([1,2,3,4],index=['c','ddd','e','f'])

print(obj2)

In [ ]:
obj2['c']

In [ ]:
obj2[['e','c']]

In [ ]:
obj2*2

In [ ]:
'c' in obj2

In [ ]:
2 in obj2.values

In [ ]:
import numpy as np
data = [1,2,3,4,5,6,6,7,9]
obj3 = pd.Series(data,index = np.arange(len(data)))
print(obj3)

In [ ]:
dic={
    'Kim':3400,
    'Hong':2000,
    'Lee':2400,
    'Kang':1000,    
}
a = pd.Series(dic)
print(a)

In [ ]:
a['Ha']=4333
print(a) #파이썬 딕셔너리를 그대로 대체해서 쓸수있음

In [ ]:
dictt ={
    'My':[1,2,3,45],
    'ss':[],
    'Hey':'4444',
    2:'Hi',
    'hh':[5,67,3,4,2],
}
pd.Series(dictt)

In [ ]:
dic={
    'Kim':3400,
    'Hong':2000,
    'Lee':2400,
    'Kang':1000,    
}
a = pd.Series(dic,index=['Kim','Woo','Kang'])
#딕셔너리를 데이터로 넣고 인덱스를 주면 key값에 맞는 value가 나오고, 없으면 Nan
print(a)

In [ ]:
#누락된 데이터를 찾을 때 사용하는 함수 isnull,notnull
print(pd.isnull(a),end='\n\n')
print(pd.notnull(a),end='\n\n')
print(~pd.isnull(a),end='\n\n')
print(pd.isnull(a)==0,end='\n\n')

In [ ]:
import pandas as pd

data = {
    'Seoul':4000,
    'Busan':2000,
    'Incheon':1500,
    'Kwangju':1000
}

obj = pd.Series(data)
print(obj)

#인덱스 바꾸기
cities = ['Seoul','Incheon','Kwangju','Daegu',]
obj2 = pd.Series(data,index=cities) 
print(obj2)

#두개 더하면?
print(obj+obj2) #있는 놈들은 더해지고 부산은 2000+NaN이므로 NaN 리턴

Series 객체와 색인(index)은 모두 name이라는 속성이 있다.

In [ ]:
obj2.name="인구수"
print(obj2)

In [ ]:
obj2.index.name="도시"
print(obj2)

In [ ]:
# 인덱스 그냥 바꿀수도 있음
obj2.index=['Daejeon','Busan','Seoul','Jeju']
print(obj2)

# 데이터 프레임  
- DataFrame은 2차원 리스트(2차원 배열) 같은 자료구조  
- R언어 data.frame과 비슷하다.

In [ ]:
a = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
print(a)

In [ ]:
#사전형식으로도 사용할수 있음
data = {
    'city':['Seoul','Busan','광주','대구'],
    'year':[2000,2001,2002,2001,],
    'Pop':[4000,2000,1000,1000]
}

a = pd.DataFrame(data)
a

In [ ]:
#순서 지정해줄수도 있음
a = pd.DataFrame(data, columns=['year','city','Pop'])
a

In [ ]:
a = pd.DataFrame(data, columns=sorted(data.keys()))
a