# Pandas : 데이터 분석 기능을 제공하는 라이브러리.  
- 예를 들면, CSV파일 등의 데이터를 읽고 원하는 데이터 형식으로 변환해줌

**Pandas 자료구조**  
- Series, DataFrame
- Series는 일차원 배열 같은 자료구조

In [1]:
import pandas as pd

obj = pd.Series(['a','b','c','d'])
print(obj)
print(obj.index)
print(obj.values)

0    a
1    b
2    c
3    d
dtype: object
RangeIndex(start=0, stop=4, step=1)
['a' 'b' 'c' 'd']

In [2]:
obj2 = pd.Series([1,2,3,4],index=['c','ddd','e','f'])

print(obj2)

c      1
ddd    2
e      3
f      4
dtype: int64

In [3]:
obj2['c']

1

In [4]:
obj2[['e','c']]

e    3
c    1
dtype: int64

In [5]:
obj2*2

c      2
ddd    4
e      6
f      8
dtype: int64

In [6]:
'c' in obj2

True

In [7]:
2 in obj2.values

True

In [8]:
import numpy as np
data = [1,2,3,4,5,6,6,7,9]
obj3 = pd.Series(data,index = np.arange(len(data)))
print(obj3)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
8    9
dtype: int64

In [9]:
dic={
    'Kim':3400,
    'Hong':2000,
    'Lee':2400,
    'Kang':1000,    
}
a = pd.Series(dic)
print(a)

Kim     3400
Hong    2000
Lee     2400
Kang    1000
dtype: int64

In [10]:
a['Ha']=4333
print(a) #파이썬 딕셔너리를 그대로 대체해서 쓸수있음

Kim     3400
Hong    2000
Lee     2400
Kang    1000
Ha      4333
dtype: int64

In [11]:
dictt ={
    'My':[1,2,3,45],
    'ss':[],
    'Hey':'4444',
    2:'Hi',
    'hh':[5,67,3,4,2],
}
pd.Series(dictt)

My        [1, 2, 3, 45]
ss                   []
Hey                4444
2                    Hi
hh     [5, 67, 3, 4, 2]
dtype: object

In [12]:
dic={
    'Kim':3400,
    'Hong':2000,
    'Lee':2400,
    'Kang':1000,    
}
a = pd.Series(dic,index=['Kim','Woo','Kang'])
#딕셔너리를 데이터로 넣고 인덱스를 주면 key값에 맞는 value가 나오고, 없으면 Nan
print(a)

Kim     3400.0
Woo        NaN
Kang    1000.0
dtype: float64

In [13]:
#누락된 데이터를 찾을 때 사용하는 함수 isnull,notnull
print(pd.isnull(a),end='\n\n')
print(pd.notnull(a),end='\n\n')
print(~pd.isnull(a),end='\n\n')
print(pd.isnull(a)==0,end='\n\n')

Kim     False
Woo      True
Kang    False
dtype: bool

Kim      True
Woo     False
Kang     True
dtype: bool

Kim      True
Woo     False
Kang     True
dtype: bool

Kim      True
Woo     False
Kang     True
dtype: bool