## 중복색인

In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np

enter = lambda :print('==============',end='\n\n')
def f_print(x):
    print("[함수] >> ",x)
    print(eval(x))
    enter()

print('''
인덱스가 꼭 유니크할 필요는 없다''')
obj = Series(range(5), index=['a','a','b','b','c'])
f_print("obj")
print('''
중복되는 색인 값이 있을 경우에는 색인을 이용한 결과로 Series 객체를 반환한다.''')
f_print("obj['a']")
print('''
중복되는 색인 값이 없을 경우에는 색인을 이용한 결과로 스칼라 값을 반환한다.''')
f_print("obj['c']")

인덱스가 꼭 유니크할 필요는 없다
[함수] >>  obj
a    0
a    1
b    2
b    3
c    4
dtype: int64
==============


중복되는 색인 값이 있을 경우에는 색인을 이용한 결과로 Series 객체를 반환한다.
[함수] >>  obj['a']
a    0
a    1
dtype: int64
==============


중복되는 색인 값이 없을 경우에는 색인을 이용한 결과로 스칼라 값을 반환한다.
[함수] >>  obj['c']
4
==============

In [2]:
df = DataFrame(np.random.randn(4,3), index=['a','a','b','b'])
f_print("df")
f_print("df.loc['b']")

[함수] >>  df
          0         1         2
a  0.082156 -0.061562 -0.160537
a -0.108457  0.506299  0.303329
b  0.148665  1.288390  1.132511
b  0.286361  2.016592 -1.188903
==============

[함수] >>  df.loc['b']
          0         1         2
b  0.148665  1.288390  1.132511
b  0.286361  2.016592 -1.188903
==============

## 기술 통계 계산  
- Pandas는 일반적인 수학/통계 메소드를 가지고 있다.
- Pandas의 메소드는 처음부터 누락된 데이터를 제외하도록 설계되어 있다.

In [3]:
df = DataFrame([
    [1.4,np.nan],
    [7.1,-4.5],
    [np.nan,np.nan],
    [0.75,-1.3]
],index=['a','b','c','d'],
columns=['one','two'])
print(df)
enter()
print('''sum()메소드는 각 컬럼의 합을 더해서 Series객체를 반환한다.
NaN은 기본적으로 제외된다.''')
f_print("df.sum()")
print('''행 기준으로 더하려면 axis 옵션 추가
전체 구간의 값이 NA가 아니라면 NA값은 제외시키고 계산을 하는데
skipna 옵션은 정체 행이나 칼럼의 값이 NA가 아니더라도 제외시키지 않을 수 있다.''')
f_print("df.sum(axis=1)")
f_print("df.sum(axis=1,skipna=False)")

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
==============

sum()메소드는 각 컬럼의 합을 더해서 Series객체를 반환한다.
NaN은 기본적으로 제외된다.
[함수] >>  df.sum()
one    9.25
two   -5.80
dtype: float64
==============

행 기준으로 더하려면 axis 옵션 추가
전체 구간의 값이 NA가 아니라면 NA값은 제외시키고 계산을 하는데
skipna 옵션은 정체 행이나 칼럼의 값이 NA가 아니더라도 제외시키지 않을 수 있다.
[함수] >>  df.sum(axis=1)
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64
==============

[함수] >>  df.sum(axis=1,skipna=False)
a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64
==============

In [4]:
print('''idxmin, idxmax와 같은 메소드는 최소,최대값을 가지고 있는 색인 값 같은 
간접 통계를 반환한다.
''')
f_print("df")
f_print("df.idxmin()")
f_print("df.min()")

idxmin, idxmax와 같은 메소드는 최소,최대값을 가지고 있는 색인 값 같은
간접 통계를 반환한다.

[함수] >>  df
    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
==============

[함수] >>  df.idxmin()
one    d
two    b
dtype: object
==============

[함수] >>  df.min()
one    0.75
two   -4.50
dtype: float64
==============

## 누산 메소드  
: cumsum() 계속해서 더하는 함수

In [5]:
f_print("df")
f_print("df.cumsum()")

[함수] >>  df
    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
==============

[함수] >>  df.cumsum()
    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8
==============

### 유일한 값, 도수 메서드

In [6]:
s1 = Series(['c','a','d','a','a','b','b','c','c'])
f_print("s1")
print('''unique 메소드 : 중복된 값을 하나로 표기''')
f_print("s1.unique()")
print('''.value_counts() : 값의 갯수를 출력(도수), 결과값은 Series(내림차순)''')
f_print("s1.value_counts()")
print('''isin : 어떤 값이 Series에 있는지 나타내는 메소드
불린값을 반환한다.
DataFrame, Series에서 원하는 값을 골라내고 싶을 때 유용하게 사용하는 메소드''')
f_print("s1.isin(['a'])")

mask = s1.isin(['b','c'])
s1[mask]

[함수] >>  s1
0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object
==============

unique 메소드 : 중복된 값을 하나로 표기
[함수] >>  s1.unique()
['c' 'a' 'd' 'b']
==============

.value_counts() : 값의 갯수를 출력(도수), 결과값은 Series(내림차순)
[함수] >>  s1.value_counts()
a    3
c    3
b    2
d    1
dtype: int64
==============

isin : 어떤 값이 Series에 있는지 나타내는 메소드
불린값을 반환한다.
DataFrame, Series에서 원하는 값을 골라내고 싶을 때 유용하게 사용하는 메소드
[함수] >>  s1.isin(['a'])
0    False
1     True
2    False
3     True
4     True
5    False
6    False
7    False
8    False
dtype: bool
==============

0    c
5    b
6    b
7    c
8    c
dtype: object

In [7]:
data = DataFrame({'Q1':[1,3,4,3,4],
                'Q2':[2,3,1,2,3,],
                 'Q3':[1,5,2,4,4]})
print(data)
enter()
print('''DataFrame에서는 apply를 이용하여 메소드를 넘김''')
f_print("data.apply(pd.value_counts)")
f_print("data.apply(pd.value_counts).fillna(0)")

   Q1  Q2  Q3
0   1   2   1
1   3   3   5
2   4   1   2
3   3   2   4
4   4   3   4
==============

DataFrame에서는 apply를 이용하여 메소드를 넘김
[함수] >>  data.apply(pd.value_counts)
    Q1   Q2   Q3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0
==============

[함수] >>  data.apply(pd.value_counts).fillna(0)
    Q1   Q2   Q3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0
==============

### 누락된 데이터 처리  
- Pandas의 설계 목표 중 하나는 누락된 데이터를 쉽게 처리하는것  
- Pandas에서는 누락된 데이터를 실수든 아니든 모두 NaN으로 취급한다.
- 이러한 Nan의 값은 파이썬의 None값 NA와 같은 값으로 취급된다.

In [8]:
stringData = Series(['aaa','bbb',np.nan,'ccc'])
print(stringData)

0    aaa
1    bbb
2    NaN
3    ccc
dtype: object

In [9]:
stringData.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [10]:
stringData[0] = None
print(stringData)
enter()
print(stringData.isnull())

0    None
1     bbb
2     NaN
3     ccc
dtype: object
==============

0     True
1    False
2     True
3    False
dtype: bool